<!DOCTYPE html>
<html>

  <head>
    <title>Events</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/moment.js"></script>
  </head>
  <body>

    <div class="bootstrap-iso">
      <div class="container-fluid">
        <div class="jumbotron">
          <h1>Welcome to CheapTix!</h1>
          <p>
            <br>It will ony take few steps to make your tickets available</br>
          </p>
        </div>
      </div>
    </div>

    <form class="form-horizontal">
      <fieldset>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="event_name">Name of the event</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="event_name" placeholder="e.g Summer Solstice Party!">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="event_type">Type of event</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="event_type" placeholder="e.g Party, Movies, Street Market">
          </div>
        </div>

        <!-- date input -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="event_type">Date</label>
          <div class="col-md-6">
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <script type="text/javascript">
            $(function() {
              $('#datetimepicker1').datetimepicker();
            });
          </script>
        </div>

        <!-- time input -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="event_type">Time</label>
          <div class="col-md-6">
            <div class='input-group date' id='datetimepicker3'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
          <script type="text/javascript">
            $(function() {
              $('#datetimepicker3').datetimepicker({
                format: 'LT'
              });
            });
          </script>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="available_tickets">Tickets available</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="available_tickets" placeholder="number of tickets available">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="event_description">Event description</label>
          <div class="col-md-6">
            <textarea class="form-control" rows="5" type="text" class="form-control" id="event_description" placeholder="place description here"></textarea>
          </div>
        </div>

        <!-- img input MAKE IT LATER-->
        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="event_description">EVENT.IMAGE</label>
          <div class="col-md-6">
            <textarea class="form-control" rows="5" type="text" class="form-control" id="event_description" placeholder="place description here"></textarea>
          </div>
        </div> -->

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="State">State</label>
          <div class="col-md-6">
            <input id="State" name="State" type="text" placeholder="state" class="form-control input-md" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="city">City/Town</label>
          <div class="col-md-6">
            <input id="city" name="city" type="text" placeholder="city or town" class="form-control input-md" required="">
          </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address1">Address Line1</label>
          <div class="col-md-6">
            <input id="address1" name="address1" type="text" placeholder="" class="form-control input-md">
            <span class="help-block">Street address, P.O. box, company name, c/o</span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="Address2">Address Line2</label>
          <div class="col-md-6">
            <input id="Address2" name="Address2" type="text" placeholder="" class="form-control input-md">
            <span class="help-block">Apartment, suite , unit, building, floor, etc.</span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="zip">Zip/Postal code</label>
          <div class="col-md-4">
            <input id="zip" name="zip" type="text" placeholder="zip or postal code" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Agreement btn -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address1"></label>
          <div class="col-md-8">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                  I Agree to terms and conditions
                </label>
            </div>
          </div>
        </div>

        <!-- submission and cancel Btns -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address1"></label>
          <div class="col-md-8">
            <button class="btn btn-primary " name="submit" type="submit">Submit</button>
            <button type="cancel" class="btn btn-primary">Cancel</button>
          </div>
        </div>
        </div>

      </fieldset>
    </form>
  </body>

</html>


<!-- id -->
<!-- user_id - integer FK -->
<!-- event_name - string (NN) -->
<!-- event_type - text (NN) -->
<!-- event_date -  (NN) -->
<!-- event_time -  (NN) -->
<!-- available_tickets - integer (NN) -->
<!-- description - text -->

<!-- order_id - integer FK -->
