<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CLIENT</title>
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type="text/javascript" src="userlogin.js" defer></script>
  </head>

  <body>
    <section class="section columns">
      <div class="container has-text-centered column is-10 is-offset-1">
      <h2 class="title">Login</h2>
        <form onsubmit="<CALL FUNCTION FROM LOGIN.JS>">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input id='login_email-field' class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input id='login_password-field' class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <label class="checkbox">
              <input type="checkbox">
              Business Partner
            </label>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <input id="login_submit-form" type='submit' class="button is-link" value="Login" />
            </p>
            <p class="control">
              <input id="login_reset-form" type="reset" class="button is-light" value="Cancel" />
            </p>
          </div>
        </form>
      </div>
    </section>

    <section class="section columns">
      <div class="container has-text-centered column is-10 is-offset-1">
      <h2 class="title">Create Account</h2>
        <form onsubmit="<CALL FUNCTION FROM LOGIN.JS>">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input id='username' class="input" type="text" placeholder="Username">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input id='login_email-field' class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input id='login_password-field' class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <label class="radio">
                <input type="radio" name="answer">
                CheapTix User
              </label>
              <label class="radio">
                <input type="radio" name="answer">
                CheapTix Business
              </label>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <input id="login_submit-form" type='submit' class="button is-link" value="Create" />
            </p>
            <p class="control">
              <input id="login_reset-form" type="reset" class="button is-light" value="Cancel" />
            </p>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <p>* Want to do business with us? Call (777) 777-7777</p>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>

</html>
