<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CLIENT</title>
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type="text/javascript" src="userlogin.js" defer></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
          <div class="navbar-start">
              <h3 class="navbar-item">
                  CheapTix
              </h3>
          </div>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/createuser">
                    Create Account
                </a>
            </div>
        </div>
    </nav>
    <section class="section columns">
      <div class="container has-text-centered column is-centered is-6">
      <h2 class="title">Login</h2>
        <form onsubmit="<CALL FUNCTION FROM LOGIN.JS>">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input id='login_email-field' class="input" type="email" placeholder="Email" required>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input id='login_password-field' class="input" type="password" placeholder="Password" required>
              <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <label class="checkbox">
              <input type="checkbox">
              Business Partner
            </label>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <input id="login_submit-form" type='submit' class="button is-link" value="Login" />
            </p>
            <p class="control">
              <input id="login_reset-form" type="reset" class="button is-light" value="Cancel" />
            </p>
          </div>
        </form>
      </div>
    </section>
  </body>

</html>
